<header class="main-header">

  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>G</b>G</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>G</b>èrbotron</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="nav navbar-left" style="margin-top: 0.5%">
    </div>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->

        <!-- /.messages-menu -->

        <!-- Notifications Menu -->

        <!-- User Account Menu -->
        <li *ngIf="userService.user" class="dropdown user user-menu" dropdown>
          <a href dropdownToggle (click)="false" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">
            <!-- The user image in the navbar-->
            <img src="assets/img/thumb_1.png" class="user-image" alt="User Image">
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs">               {{ userService.user.firstName }} {{ userService.user.lastName }}</span>
          </a>
          <ul *dropdownMenu class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
              <img src="assets/img/thumb_1.png" class="img-circle" alt="User Image">

              <p>
                {{ userService.user.firstName }} {{ userService.user.lastName }}
                <small>Member since Nov. 2012</small>
              </p>
            </li>
            <!-- Menu Body -->

            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a routerLink="./user" routerLinkActive="active" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat" (click)="logOut()" >Sign out</a>
              </div>
            </li>
          </ul>
        </li>

        <!-- Control Sidebar Toggle Button -->
      </ul>
    </div>
  </nav>
</header>

