<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="box box-primary" style="max-width: 200px; min-width: 130px; width: auto;background: transparent" [style.border-top-color]="(repo.contributor?._color) ? repo.contributor._color : ''">
    <div class="box-body">
      <img class="card-img " src="assets/img/folder.svg" alt="folder">
      <p class="text-info text-center" [style.color]="(!repo.contributor) ? '' : repo.contributor._color"><i
        *ngIf="repo.contributor" class="fa fa-github" style="margin: 1%"></i> {{ (repo.name.length> 12)? (repo.name |
        slice:(repo.name.length -
        12):(repo.name.length)) : (repo.name) }}</p>
    </div>
    <div class="box-footer text-center">
      <a href="#" (click)="changePage($event)" class="btn btn-primary" popover="Info"
         triggers="mouseenter:mouseleave"><i class="fa fa-info"></i></a>
      <app-modal [repo]="repo"></app-modal>
      <button class="btn btn-info" popover="Clone" triggers="mouseenter:mouseleave" (click)="clone()"><i
        class="fa fa-download"></i></button>
    </div>
  </div>
</div>
