<button class="btn btn-success" popover="Add ACL" triggers="mouseenter:mouseleave" (click)="openModal(content)"><i
  class="fa fa-plus"></i></button>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add ACL to {{ repo.name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <form #heroForm="ngForm">
            <input type="text" class="form-control" [(ngModel)]="form.name" placeholder="User" tabindex="1"
                   name="firstName" #firstName="ngModel" required>
            <div [hidden]="firstName.valid || firstName.pristine"
                 class="alert alert-danger">
              User is required
            </div>
          </form>
        </div>
        <div class="col-4">
          <app-form (access)="updateAccess($event)"></app-form>
        </div>
      </div>
      <hr>
      <div class="row" [style.margin-top]="'2%'">
        <div class="col-md-6" [style.margin]="auto">
          <table class="table">
            <tr>
              <th>User</th>
              <th>Access</th>
            </tr>
            <tr>
              <td>{{ form.name }}</td>
              <td class="text-bold">
                <b *ngIf="translateAccess().search('r') > -1" popover="Read" triggers="mouseenter:mouseleave"
                     class="text-success text-bold">r</b>
                <b *ngIf="translateAccess().search('w') > -1" popover="Write" triggers="mouseenter:mouseleave"
                   class="text-warning text-bold">w</b>
                <b *ngIf="translateAccess().search('a') > -1" popover="Admin" triggers="mouseenter:mouseleave"
                   class="text-danger text-bold">a</b>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" (click)="confirmForm()">Add</button>
    <button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
  </div>
</ng-template>




